/*
Error: Invalid CSS after "...ng : border-box": expected ")", was "@include border..."
        on line 12 of /Users/Ysee/Documents/dutinformatique/Programmation/Crazycharlyday/frontend-CCDay/web/sass/_grids.scss
        from line 4 of /Users/Ysee/Documents/dutinformatique/Programmation/Crazycharlyday/frontend-CCDay/web/sass/style.scss

7:   columns: 12,
8:   gutters: 1/4,
9:   global-box-sizing : border-box
10: 
11: 
12: @include border-box-sizing;

Backtrace:
/Users/Ysee/Documents/dutinformatique/Programmation/Crazycharlyday/frontend-CCDay/web/sass/_grids.scss:12
/Users/Ysee/Documents/dutinformatique/Programmation/Crazycharlyday/frontend-CCDay/web/sass/style.scss:4
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/lexer.rb:221:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:580:in `assert_tok'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:515:in `paren'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:498:in `special_fun'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:492:in `raw'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:406:in `funcall'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:387:in `ident'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_not'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_div'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:361:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:345:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:293:in `expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:571:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:62:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1027:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:607:in `variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:293:in `watch'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/bin/compass:23:in `load'
/usr/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ng : border-box\": expected \")\", was \"@include border...\"\A         on line 12 of /Users/Ysee/Documents/dutinformatique/Programmation/Crazycharlyday/frontend-CCDay/web/sass/_grids.scss\A         from line 4 of /Users/Ysee/Documents/dutinformatique/Programmation/Crazycharlyday/frontend-CCDay/web/sass/style.scss\A \A 7:   columns: 12,\A 8:   gutters: 1/4,\A 9:   global-box-sizing : border-box\A 10: \A 11: \A 12: @include border-box-sizing;"; }
